/** media query **/
@media (min-width: 1200px) and (max-width: 1300px){

}

@media (min-width: 993px) and (max-width: 1200px){
    
}
@media (min-width: 768px) and (max-width: 992px){
  
}

@media(max-width: 767px){

}

@media(max-width: 480px){
    
}

@media(max-width: 360px){

    
}



